# G7 Python 入门课程
## 项目1 Python操作入门

入门可能主要是读取税前薪水和可能的纳税额，根据正确的公式，判断是否正确

**提示**：这样的文字将会指导你如何使用 iPython Notebook 来完成项目。

In [2]:
# 检查你的Python版本
from sys import version_info
if version_info.major != 2 and version_info.minor != 7:
    raise Exception('请使用Python 2.7来完成此项目')

In [78]:
import numpy as np
import pandas as pd

# 数据可视化代码
from titanic_visualizations import survival_stats
from IPython.display import display
%matplotlib inline

# 加载数据集
in_file = 'data.csv'
full_data = pd.read_csv(in_file)

# 显示数据列表中的前几项数据
display(full_data.head())

    name  salary  tax_maybe
0   wang    2500          0
1  zhang    7000        105
2     li    8000        205
3   song    9000        405
4   tang   50000        800

数据样本中，我们可以看到的特征

- **name**：名称
- **salary**：税前薪水
- **tax_maybe**：可能的缴税额度

个税的计算方式
![xxx](https://img-blog.csdn.net/20171017113915227?watermark/2/text/aHR0cDovL2Jsb2cuY3Nkbi5uZXQvVG9nZXRoZXJfQ1o=/font/5a6L5L2T/fontsize/400/fill/I0JBQkFCMA==/dissolve/70/gravity/Center)

In [59]:
def calculator(salary):
    """ 返回税后薪水 """
    
    point = 3500  #免征额
    endowment_insurance_rate = 0.08  # 养老保险费率
    hospital_rate = 0.02  # 医疗保险费率
    losejob_rate = 0.01  # 失业保险费率
    provident_rate = 0.12  # 公积金费率
    provident_max = 20972 # 公积金基数最大值
    provident_min = 1500 # 公积金基数最小值
    
    endowment_insurance_min = 2193 # 养老保险基数最小值
    endowment_insurance_max = 16445 #养老保险基数最大值
    
    # TODO 请正确计算纳税额，返回税后薪水，并替换下面的一行
    res_money = salary
    
    print '税前工资为：{0}, 税后工资为：{1}'.format(salary, res_money) 
    return res_money

In [51]:
taxs = {}
for index, salary in full_data.iterrows():
    tax = calculator(salary['salary'])
    taxs[salary['name']] = tax
    if (tax == salary['tax_maybe']):
        print "so cool"

税前工资为：2500, 税后工资为：2500
税前工资为：7000, 税后工资为：7000
税前工资为：8000, 税后工资为：8000
税前工资为：9000, 税后工资为：9000
税前工资为：50000, 税后工资为：50000

## 扩展内容
将正确的纳税额导出到export.csv，并计算预测的正确率

In [58]:
def export() :
    # TODO 请导出正确的纳税额到export.csv, tax作为最后一列
    print "export done"
export()

# 加载数据集
in_file = 'export.csv'
export_data = pd.read_csv(in_file)

# 显示数据列表中的前几项数据
display(export_data.head())

export done

Empty DataFrame
Columns: [name]
Index: []

In [77]:
def accuracy_score():
    # TODO 计算正确率
    socre = 0
    return "accuracy of {:.2f}%.".format(socre)
accuracy_score()

'accuracy of 0.00%.'

> **注意**: 当你写完了所有**4个TODO**。你就可以把你的 iPython Notebook 导出成 HTML 文件。你可以在菜单栏，这样导出**File -> Download as -> HTML (.html)** 把这个 HTML 和这个 iPython notebook 一起做为你的作业提交。